rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    // Allow users to read and write to their own documents
    match /users/{userId} {
      allow read, write: if request.auth != null;
    }

    // Allow users to read and write to their application data
    match /applications/{applicationId} {
      allow read, write: if request.auth != null;
    }

    // Allow users to read and write to their documents
    match /user_documents/{userId}/{document=**} {
      allow read, write: if request.auth != null;
    }

    // Default deny all other requests
    match /{document=**} {
      allow read, write: if false;
    }
  }
}
